//  e g: @media #{$ipads} { ... }
$mobile-s: 'only screen and (max-width: 320px)';
$mobile: 'only screen and (max-width: 440px)';
$tablet: 'only screen and (max-width: 768px)';
$laptop_s: 'only screen and (max-width: 1124px)';
$laptop: 'only screen and (max-width: 1260px)';
$laptop_l: 'only screen and (max-width: 2559px) and (min-height: 1024px)';
$four_k: 'screen and (min-width: 2560px)';
