//  e g: @media #{$ipads} { ... }
$mobile-s: 'only screen and (max-width: 320px)';
$mobile: 'only screen and (max-width: 440px)';
$tablet: 'only screen and (max-width: 768px)';
$laptop_s: 'only screen and (max-width: 1124px)';
$laptop: 'only screen and (max-width: 1260px)';
$laptop_l: 'only screen and (max-width: 2559px) and (min-height: 1024px)';
$four_k: 'screen and (min-width: 2560px)';

// // colors
// $custom-green: '#6AAB2E';
// $custom-red: '#E52829';
// $custom-blue: '#0492D0';
// $custom-grey: '#9FA7A7';
// $custom-orange: '#E77900';
// $custom-yellow: '#FBCE21';
// $custom-black: '#1D1D1B';
// $custom-button-base: '#D8D8D8';
// $custom-footer-green: '#114232';
// $custom-bg-light-green: '#E9FFEC';
